<!-- Footer-->
<footer class="pt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-5">
                <address>
                    <strong>Çevre ve Sokak<br/>Hayvanları Derneği</strong>
                    <br />
                    Yıldız Mh. Beşiktaş
                    <br />
                    İstanbul 34349
                    <br />
                </address>
                <address>
                    🕿 +90 212 227 72 65
                </address>
            </div>
            <div class="col-md-3 mb-5">
                <strong>Sosyal Medya</strong>
                <br />
                <a href="https://www.instagram.com/cevrevesokakhayvanlari/?hl=tr" target="_top">Instagram</a>
                <br />
                <a href="https://www.facebook.com/cevrevesokakhayvanlaridernegi/" target="_top">Facebook</a>
            </div>
            <div class="col-md-3 mb-5">
                <strong>Proje</strong>
                <br />
                <a href="https://talentgrid.io/askida-kod-cevre-ve-sokak-hayvanlari-dernegi/" target="_top">TalentGrid Askıda Kod</a>
                <br />
                <a href="https://github.com/otomatikmuhendis/petibor" target="_top">Kaynak Kodu</a>
                <br />
                <a href="https://prose.io/#otomatikmuhendis/petibor" target="_top">Siteyi Yönet</a>
            </div>
        </div>
    </div>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>