---
layout: default
---
{% assign pet = page %}
<div class="p-4">
    <div class="container">
        <section>
            <div class="container">
                <div class="row">
                    <!-- Post content-->
                    <div class="col-lg-8">
                        <!-- Title-->
                        <h1 class="mt-4">{{ pet.title }}</h1>
                        <!-- Date and time-->
                        <p>📅 {{ pet.date | date_to_long_string }} tarihinde eklendi</p>
                        <br />
                        <!-- Preview image-->
                        <img class="img-fluid rounded" src="{{ pet.image }}" alt="{{ pet.title }}" />
                        <br /><br />
                        <!-- Post content-->
                        <p class="lead">{{ pet.content }}</p>
                    </div>
                    <!-- Sidebar widgets column-->
                    <div class="col-md-4">
                        <!-- Side widget-->
                        <div class="card border-primary my-4">
                            <h5 class="card-header">{{ pet.name }}</h5>
                            <div class="card-body">
                                <p>{{ pet.gender }}</p>
                                <p>{{ pet.race }}</p>
                                <p>{{ pet.age }}</p>
                            </div>
                        </div>

                        {% include instagram.html %}
                        {% include share.html %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
